
WindowsFormsApp1/.vs/WindowsFormsApp1/v16/.suo
*.dll
*.xml
*.exe
*.pdb
WindowsFormsApp1/WindowsFormsApp1.sln
WindowsFormsApp1/packages/EntityFramework.6.4.4/tools/netcoreapp3.0/any/ef6.runtimeconfig.json
WindowsFormsApp1/packages/EntityFramework.6.4.4/tools/install.ps1
WindowsFormsApp1/packages/EntityFramework.6.4.4/tools/init.ps1
WindowsFormsApp1/packages/EntityFramework.6.4.4/tools/EntityFramework6.psm1
WindowsFormsApp1/packages/EntityFramework.6.4.4/tools/EntityFramework6.psd1
WindowsFormsApp1/packages/EntityFramework.6.4.4/tools/EntityFramework6.PS2.psm1
WindowsFormsApp1/packages/EntityFramework.6.4.4/tools/EntityFramework6.PS2.psd1
WindowsFormsApp1/packages/EntityFramework.6.4.4/tools/about_EntityFramework6.help.txt
WindowsFormsApp1/packages/EntityFramework.6.4.4/Icon.png
WindowsFormsApp1/packages/EntityFramework.6.4.4/EntityFramework.6.4.4.nupkg
WindowsFormsApp1/packages/EntityFramework.6.4.4/content/net40/Web.config.transform
WindowsFormsApp1/packages/EntityFramework.6.4.4/content/net40/Web.config.install.xdt
WindowsFormsApp1/packages/EntityFramework.6.4.4/content/net40/App.config.transform
WindowsFormsApp1/packages/EntityFramework.6.4.4/content/net40/App.config.install.xdt
WindowsFormsApp1/packages/EntityFramework.6.4.4/buildTransitive/netcoreapp3.0/EntityFramework.targets
WindowsFormsApp1/packages/EntityFramework.6.4.4/buildTransitive/netcoreapp3.0/EntityFramework.props
WindowsFormsApp1/packages/EntityFramework.6.4.4/buildTransitive/EntityFramework.targets
WindowsFormsApp1/packages/EntityFramework.6.4.4/buildTransitive/EntityFramework.props
WindowsFormsApp1/packages/EntityFramework.6.4.4/build/netcoreapp3.0/EntityFramework.targets
WindowsFormsApp1/packages/EntityFramework.6.4.4/build/netcoreapp3.0/EntityFramework.props
WindowsFormsApp1/packages/EntityFramework.6.4.4/build/EntityFramework.targets
WindowsFormsApp1/packages/EntityFramework.6.4.4/build/EntityFramework.props
WindowsFormsApp1/packages/EntityFramework.6.4.4/build/EntityFramework.DefaultItems.props
WindowsFormsApp1/packages/EntityFramework.6.4.4/.signature.p7s
WindowsFormsApp1/WindowsFormsApp1/bin/Debug/WindowsFormsApp1.exe.config
WindowsFormsApp1/WindowsFormsApp1/WindowsFormsApp1.csproj
WindowsFormsApp1/WindowsFormsApp1/Properties/Settings.settings
WindowsFormsApp1/WindowsFormsApp1/Properties/Settings.Designer.cs
WindowsFormsApp1/WindowsFormsApp1/Properties/Resources.resx
WindowsFormsApp1/WindowsFormsApp1/Properties/Resources.Designer.cs
WindowsFormsApp1/WindowsFormsApp1/Properties/AssemblyInfo.cs
WindowsFormsApp1/WindowsFormsApp1/Program.cs
WindowsFormsApp1/WindowsFormsApp1/Migrations/202012101853262_CreateQuiz.cs
WindowsFormsApp1/WindowsFormsApp1/Migrations/202012101853262_CreateQuiz.Designer.cs
WindowsFormsApp1/WindowsFormsApp1/Migrations/202012101853262_CreateQuiz.resx
WindowsFormsApp1/WindowsFormsApp1/Migrations/202012102028208_Extra.cs
WindowsFormsApp1/WindowsFormsApp1/Migrations/202012102028208_Extra.Designer.cs
WindowsFormsApp1/WindowsFormsApp1/Migrations/202012102028208_Extra.resx
WindowsFormsApp1/WindowsFormsApp1/Migrations/Configuration.cs
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.CopyComplete
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.CoreCompileInputs.cache
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.FileListAbsolute.txt
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.GenerateResource.cache
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csprojAssemblyReference.cache
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.Migrations.CreateQuiz.resources
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.Migrations.Extra.resources
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.Properties.Resources.resources
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.Form1.resources
