<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packages>
    <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  </packages>

  <connectionStrings>
    <add name="QuizContext" connectionString="data source=.\MSSQLLocalDB; initial catalog=QuizDB; integrated security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
